MYLIC_DATABASE_URL=postgresql+psycopg://mylic:mylic@localhost:5433/mylic
MYLIC_PDF_DIR=./pdfs
MYLIC_SMTP_HOST=
MYLIC_SMTP_USER=
MYLIC_SMTP_PASSWORD=
MYLIC_SMTP_FROM=
MYLIC_SMTP_TO=
MYLIC_TELEGRAM_BOT_TOKEN=
MYLIC_TELEGRAM_CHAT_ID=
